numpy>=2.5.3
pydantic>=2.13.5
pyyaml>=6.0.3
nexusformat>=2.1.0
scipy>=1.18.1
xarray>=2026.9.0
chess-scanparsers>=2026.9.21

pytest>=9.1.1
pytest-dependency>=0.5.1
pytest-env>=1.7.1
pytest-ordering>=0.6
pytest-xdist>=3.8.0

astra-toolbox>=2.5.0   # tomo
lmfit>=1.3.4           # utils
pyfai>=2026.9.0        # giwaxs, saxswaxs
requests>=2.34.2       # foxden, saxswaxs/server
sympy>=1.14.0          # utils
tomopy>=1.15.3         # tomo
zarr>=3.4.0            # saxswaxs, utils
