numpy==1.26.4
pydantic==2.7.3
pyyaml==6.0.3
asteval==1.0.8
astra-toolbox==2.4.1
certif-pyspec==1.5.3
chess_scanparsers==2025.5.2
fabio==2025.10.0
flask==3.1.2
lmfit==1.3.4
matplotlib==3.10.8
mpi4py==4.1.1
nexpy==2.0.0
pyfai==2025.12.1
scikit-image==0.25.2
scipy==1.15.2
sympy==1.14.0
